@page "/historias/crear"
@page "/historias/editar/{id:int}"
@using StoryBlazeServer.Services
@inject CategoriaService CategoriaService
@inject HistoriaService historiaService
@inject NavigationManager navigationManager
@using StoryBlazeServer.Models

@if (!string.IsNullOrEmpty(MensajeError))
{
    <div class="alert alert-danger">@MensajeError</div>
}

@if (!string.IsNullOrEmpty(MensajeExito))
{
    <div class="alert alert-success">@MensajeExito</div>
}

<h3>@(Historia.HistoriaId == 0 ? "Crear Historia" : "Editar Historia")</h3>
<EditForm Model="Historia" OnValidSubmit="GuardarHistoria">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="titulo">Título</label>
        <InputText id="titulo" class="form-control" @bind-Value="Historia.Titulo" maxlength="30" />
    </div>

    <div class="form-group">
        <label for="resumen">Resumen</label>
        <InputTextArea id="resumen" class="form-control" @bind-Value="Historia.Resumen" maxlength="40" />
    </div>

    <div class="form-group">
        <label for="estado">Estado</label>
        <select id="estado" disabled="@((Historia.HistoriaId==0) ? true : false )" @bind="Historia.Estado" class="form-select">
            <option value="En Curso">En Curso</option>
            <option value="Completada">Completada</option>
        </select>
    </div>

    <div class="form-group">
        <label for="categoriaId">Categoría</label>
        <select id="categoriaId" @bind="Historia.CategoriaId" class="form-select">
            <option value="">Seleccione una categoría</option>
            @foreach (var categoria in categorias)
            {
                <option value="@categoria.CategoriaId">@categoria.Nombre</option>
            }
        </select>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">@((Historia.HistoriaId == 0) ? "Crear" : "Actualizar")</button>
    
    <button @onclick="GoBack" type="button" class="btn btn-success">Volver</button>
</EditForm>

@code {
    [Parameter]
    public int? id { get; set; }

    private Historia Historia { get; set; } = new Historia();
    private string MensajeError { get; set; } = string.Empty;
    private string MensajeExito { get; set; } = string.Empty;
    private List<Categoria> categorias = new List<Categoria>();

    protected override async Task OnInitializedAsync()
    {
        categorias = await CategoriaService.GetCategorias();
        if (id.HasValue)
        {
            Historia = await historiaService.GetHistoriaByIdAsync(id.Value);

            if (Historia == null)
            {
                MensajeError = "La historia no fue encontrada.";
                navigationManager.NavigateTo("/MisHistorias", true);
            }
        }
        else
        {
            Historia.Estado = "En Curso"; 
        }
    }

    private async Task GuardarHistoria()
    {
        MensajeError = string.Empty;
        MensajeExito = string.Empty;
        bool resultado;

        if (Historia.HistoriaId == 0)
        {
            resultado = await historiaService.AgregarHistoriaAsync(Historia);
        }
        else
        {
            resultado = await historiaService.ActualizarHistoriaAsync(Historia.HistoriaId, Historia);
        }

        if (resultado)
        {
            MensajeExito = "Operación exitosa";
            navigationManager.NavigateTo("/MisHistorias", true);
        }
        else
        {
            MensajeError = "Hubo un error al guardar la historia. Verifica los permisos o intenta nuevamente.";
        }
    }

    private void GoBack()
    {
        navigationManager.NavigateTo("/MisHistorias");
    }
}
